* {
    box-sizing: border-box;

}

body {
    margin: 0;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;;
}

.content {
    height:100%
}




/* START SELECTION */
.container-choice {
    border: solid black;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    padding: 40px;
    gap: 10px;
}
.selection-title {
    grid-column: 1 / 3;
    justify-self: center;
}
h3 {
    text-align: center;
}

/* PLAYER CHOICE SELECTION */
.player-name-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
    font-size: 1.2rem;
    font-weight: 700;
}

.choice-start {
    grid-column: 1/3;
    display: flex;
    justify-content: space-around;
}

.choice-start>button {
    width: 40%;
    height: 40px;
    border-radius: 10px;
    font-weight: 700;
}



/* BOARD */
.board {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.square {
    border: solid black;
    font-size: 5rem;
    text-align: center;
}




.hidden{ /*must be after the other display:"etc" or will be rewritten */
    display:none;
}